
form {
border: 3px solid black;
width: 40%;
margin-left: 30%;
height: 250px;
}

.heading{
  margin-left: 42%;
  margin-top: 10%;
}

select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 80px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:disabled {
	opacity: 0.4;
	pointer-events: none;
	cursor: default;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-left: 40%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.disply-flex{
  display: flex;
  background-color: #61dafb;
}

.link-div{
  padding-top: 10px;
}

.d-flex{
  display: flex;
  flex-direction: column;
}

.heading-flex{
  display: flex;
}

.date{
  color: grey;
  font-size: 14px;
}

.tab{
  color: black;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  margin-left: 100px;
  background-color: white;
  text-decoration: underline;
}

.answered-heading{
  margin-left: 350px;
}

.image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 20px;
  background-image: url('./assets/images/avatar.png');
}

.d-row{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  width: 700px;
  margin-left: 300px;
}

.pollBtn{
  width: 70px;
  height: 40px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: 10px;
}

.question-panel-info{
  margin-left: 40px;
}

.welcome-text{
  margin-left: 35%;
  margin-right: 15%;
  padding-top: 10px;
}

.logout-btn{
  color: black;
  font-size: 12px;
  margin: 0;
  background-color: #61dafb;
}

.link {
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 20px;
	color: #595555;
	font-size: 16px;
	font-weight: 500;
}

.link.active {
	color: #3d3b3b;
	font-weight: 900;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.new-ques-form{
  border: 2px solid black;
  border-radius: 10px;
  width: 550px;
  margin-left: 350px;
  height: 250px;
}

.new-ques-heading{
  margin-left: 400px;
  margin-top: 100px;
}

.inner-heading{
  margin-left: 50px;
}

.input-fiels{
  display: flex;
  flex-direction: column;
}

.input{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  height: 30px;
}

.add-question{
  width: 150px;
  margin-left: 35%;
}

.leaderboard{
  margin-left: 43%;
}

.user{
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

.user-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 150px;
}

.data{
  margin-left: 20px;
}

.user-info{
  display: flex;
  flex-direction: column;
}

.ques-res{
  border: 2px solid black;
  border-radius: 10px;
  width: 450px;
  height: 400px;
  margin-left: 34%;
}

.result{
  display: flex;
  flex-direction: row;
}

.author{
  margin-top: 60px;
  margin-left: 20px;
}

.result-info{
  margin-left: 20px;
  margin-top: 30px;
}

.questiionResult{
  margin-left: 535px;
}

.heading-h3{
  margin-left: 20px;
}

.submitbtn{
  width: 100px;
  margin-left: 40%;
  margin-top: 30px;
}

.your-vote{
  color: grey;
}

.poll-result{
  border: 2px black solid;
  margin-right: 20px;
  margin-top: 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
